<body>
  <div class="header">
    <h1>NapraviMi</h1>
    <div class="user-actions">
      <p-avatar [image]="user.profile_picture" [icon]="user.profile_picture ? undefined : 'pi pi-user'" styleClass="avatar-icon" (click)="userMenu.toggle($event)"></p-avatar>
      <p-menu #userMenu [model]="menuItems" popup="true" appendTo="body"></p-menu>
    </div>
  </div>
  <div class="user-role">Uloga: {{ role }}</div>
  <nav>
    <p-menubar [model]="adminMenuItems"></p-menubar>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</body>
