<div class="card">
  @let state = (state$ | async);
  <p-table [value]="state?.cartItems!" [tableStyle]="{ 'min-width': '60rem' }">
   
    <ng-template #header>
      <tr>
        <th>Naziv</th>
        <th>Kolicina</th>
        <th>Cena</th>
        <th>Ocena</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.product.name }}</td>
        <td>
          {{item.quantity}}
        </td>
        <td>{{ item.product.price }} RSD</td>
        <td><p-rating [(ngModel)]="item.product.rating" [readonly]="true" /></td>
        <td>
          <p-button label="Izbaci iz korpe" severity="danger" (onClick)="removeFromCart(item)" />
        </td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <tr>
        <td colspan="6">Ukupna cena: {{ state?.total_price }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
