<body>
  @let state = (state$ | async);
  <div class="header">
    <h1>НаправиМи</h1>
  </div>
  <div class="center-page">
    <p-card [style]="{ width: '450px' }">
      <ng-template pTemplate="header">
        <div class="login-header">Пријави се</div>
      </ng-template>

      @if (state?.loginError) {
        <div class="mb-3">
          <p-message severity="error">{{ state?.loginErrorMessage }}</p-message>
        </div>
      }

      <form [formGroup]="loginForm" (ngSubmit)="submit()" class="p-fluid">
        <!-- Username -->
        <div class="field flex flex-column">
          <label for="username">Корисничко име</label>
          <input pInputText id="username" formControlName="username" />
        </div>

        <!-- Password -->
        <div class="field flex flex-column">
          <label for="password">Лозинка</label>
          <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [inputStyle]="{ width: '100%' }"
            [feedback]="false"
          >
          </p-password>
          <a class="forgot-password" routerLink="/change-password">Заборавили сте лозинку?</a>
        </div>

        <!-- Submit -->
        <div class="w-full mt-4">
          <button
            pButton
            type="submit"
            label="Пријави се"
            [disabled]="loginForm.invalid"
            style="width: 100%"
          ></button>
        </div>
      </form>
    </p-card>
  </div>
</body>
