<body>
  <div class="header">
    <h1>NapraviMi</h1>
    <div class="page-top-actions">
      <div class="search-wrapper">
        <input
          pInputText
          [(ngModel)]="searchQuery"
          placeholder="Pretraži zanatlije..."
          (keyup.enter)="onSearch()"
        />
        <button pButton label="Pretraži" icon="pi pi-search" (click)="onSearch()"></button>
      </div>
      <button pButton label="Prijavi se" icon="pi pi-sign-in" routerLink="login"></button>
    </div>
  </div>
  <nav>
    <p-menubar [model]="homeMenuItems"></p-menubar>
  </nav>
  <div class="content">
    @if (currentView === 'welcome') {
      <app-homepage-welcome></app-homepage-welcome>
    }
    @if (currentView === 'craftsmen') {
      <app-craftsmen-overview [craft]="activeCraftFilter"></app-craftsmen-overview>
    }
  </div>
</body>
