<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="craftsman-applications-page">
  @let state = (state$ | async);
  <h2>Захтеви за улогу занатлије</h2>

  <p-table
    class="craftsman-applications-table"
    [value]="state?.applications ?? []"
    [paginator]="true"
    [first]="state?.first ?? 0"
    [rows]="state?.rows ?? 5"
    [totalRecords]="state?.totalRecords ?? 0"
    [lazy]="true"
    (onLazyLoad)="pageChange($event)"
    [rowsPerPageOptions]="[5, 10, 15]"
    [loading]="state?.isLoading ?? false"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Email</th>
        <th>Занат</th>
        <th>Status</th>
        <th>Датум подношења</th>
        <th>CV</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-app>
      <tr>
        <td data-label="Email">{{ app.email }}</td>
        <td data-label="Занат">{{ app.craftLabel }}</td>
        <td data-label="Status">
          <p-select
            [options]="statusOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="app.newStatus"
            placeholder="Изабери status"
            appendTo="body"
            (onChange)="onStatusChange($event, app)"
          >
            <ng-template let-selectedItem pTemplate="selectedItem">
              <span>
                {{ selectedItem?.label || (app.status | titlecase) }}
              </span>
            </ng-template>
          </p-select>
        </td>
        <td data-label="Датум подношења">{{ app.createdAt ? (app.createdAt | date: 'short') : '-' }}</td>
        <td data-label="CV">
          @if (app.resumeUrl) {
            <p-button label="Отвори" size="small" severity="help" (onClick)="openResume(app)" />
          } @else {
            <span>-</span>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
