.login-header {
	text-align: center;
	width: 100%;
	font-size: 1.1rem;
	font-weight: 600;
}

.center-page {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}

.p-error {
	margin-top: 0.4rem;
}
