<body>
  @let state = (state$ | async);
  <div class="header">
    <h1>НаправиМи</h1>
  </div>
  <div class="center-page">
    <p-card [style]="{ width: '420px' }">
      <div *ngIf="state?.errorMessage" class="mb-3">
        <p-message severity="error">{{ state?.errorMessage }}</p-message>
      </div>
      <div *ngIf="state?.successMessage" class="mb-3">
        <p-message severity="success">{{ state?.successMessage }}</p-message>
      </div>

      <form [formGroup]="changeForm" (ngSubmit)="submit()" class="p-fluid">
        <div class="field flex flex-column">
          <label for="username">Корисничко име</label>
          <input pInputText id="username" formControlName="username" />
        </div>

        <div class="field flex flex-column">
          <label for="new_password">Нова лозинка</label>
          <p-password
            id="new_password"
            formControlName="new_password"
            [toggleMask]="true"
          ></p-password>
        </div>

        <div class="field flex flex-column">
          <label for="confirm_password">Потврдите нову лозинку</label>
          <p-password
            id="confirm_password"
            formControlName="confirm_password"
            [toggleMask]="true"
            [feedback]="false"
          ></p-password>
          <div *ngIf="changeForm.errors?.['passwordsMismatch']" class="p-error">
            Лозинке се не поклапају.
          </div>
        </div>

        <div class="w-full mt-4">
          <button
            pButton
            type="submit"
            label="Измени лозинку"
            [disabled]="changeForm.invalid || (state?.submitting ?? false)"
            style="width: 100%"
          ></button>
        </div>
      </form>
    </p-card>
  </div>
</body>
