<body>
  @if (isGuestView) {
    <app-public-header></app-public-header>
  } @else {
    <div class="header">
      <h1>NapraviMi</h1>
      <app-user-actions [user]="user"></app-user-actions>
    </div>
  }

  <nav>
    <p-menubar></p-menubar>
  </nav>
  <div class="grid">
    <div class="flex-row">
      <div class="col-4">
        <div class="mb-4 p-8">
          <p-card>
            <p-image src="{{ user.profilePicture }}"></p-image>
          </p-card>
        </div>
      </div>
      <div class="col-8">
        <div class="mb-4 p-8">
          <p-card>
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            <p>{{ user.craft }}</p>           
            <p>{{ user.email }}</p>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</body>
